.Amainbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Abox1 {
    width: 86%;
    height: 500px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    color: rgb(39, 36, 67);
    opacity: 0;
}

.ah1 {
    font-size: 50px;
    max-width: 750px;
    margin-top: 40px;
}

.ah2 {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
}

.Abox2 {
    width: 100%;
    height: 590px;
    display: flex;
    background-color: rgb(218, 57, 43);
}

.ab1 {
    width: 100%;
    background: url(./image/computer.webp) no-repeat 60% 0%;
}

.ab2 {
    width: 156%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abp1 {
    width: 460px;
    color: white;
    opacity: 0;
}

.Abox3::before {
    content: '';
    width: 100%;
    height: 850px;
    position: absolute;
    background: url(./image/About-Abox2.webp) no-repeat fixed;
    opacity: 0.2;
    z-index: 0;
}

.Abox3 {
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
}

.sub-Abox3 {
    position: absolute;
    width: 52%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ah1-b3 {
    margin-top: 150px;
    margin-bottom: 50px;
    color: rgb(39, 36, 67);
    opacity: 0;
}

.ab3 {
    display: flex;
    flex-direction: column;
}

.ab4 {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    opacity: 0;
}

.ab5 {
    width: 390px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 7.07px 7.07px 10px 0px rgba(218, 57, 43, 0.2);

    >h2 {
        width: 80%;
        margin-top: 30px;
        font-size: 2.3vw;
        color: rgb(218, 57, 43);
    }

    >p {
        width: 80%;
    }
}

.abp2 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.ab6 {
    margin-top: 50px;
    width: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 7.07px 7.07px 10px 0px rgba(218, 57, 43, 0.2);
    opacity: 0;
    >h2 {
        width: 80%;
        margin-top: 30px;
        font-size: 2.3vw;
        color: rgb(218, 57, 43);
    }

    >p {
        width: 80%;
        margin-bottom: 30px;
    }
}

.Abox4 {
    width: 86%;
    height: 610px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(39, 36, 67);
    color: white;

    >h1 {
        margin-bottom: 50px;
        opacity: 0;
    }
}

.ab7 {
    display: flex;
    gap: 40px;
    opacity: 0;
}

.foundBox1 {
    // border: 2px solid red;
    width: 17vw;
    height: 67vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    >div {
        border-radius: 20px;
        width: 17vw;
        height: 21vw;
        position: relative;
        overflow: hidden;

        >img {
            border-radius: 20px;
            position: absolute;
            z-index: 0;
            width: 17vw;
            height: 21vw;
            transition: all 1s ease;
        }

    }

    >p {
        color: white;
        font-size: 16px;
        text-align: center;
    }
}

.abred {
    background-color: rgba(218, 57, 43, 0.2);
    border-radius: 20px;
    position: absolute;
    width: 17vw;
    height: 21vw;
    opacity: 0;
    transition: all 1s ease;
}

.foundBox1:hover {
    >div>img {
        scale: 1.1;
    }

    >div>div {
        scale: 1.1;
        opacity: 1;
    }
}

.abh3 {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.Abox5{
    width: 100%;
    height: 800px;
    margin-top: 80px;
    // border: 1px solid blue;
    background: url(./image/abbg.webp) no-repeat 50% 0;
    background-blend-mode: color-burn;
    display: flex;
}
.Abox5::before{
    content: '';
    width: 100%;
    height: 800px;
    background-color: rgba(218, 57, 43, 0.7);
    position: absolute;
    z-index: 0;
}
.ab8{
    width: 50%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    // flex-direction: column;
}
.ab9{
    max-width: 390px;
    >h3{
        margin-top: 0px;
        text-align: left;
        color:white
    }
    >h1{
        color:white;
        margin-top: 10px;
    }
    >p{
        color: white;
    }
}
.ab11{
    max-width: 300px;
    padding: 150px 35px 35px 35px;
    background-color: white;
    border-radius: 20px;
    >img{
        position: absolute;
        top: 154px;
    }
    >h3{
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: left;
    }
    >a>button{
        margin-top: 20px;
        font-size: 16px;
        padding: 16px;
        border-radius: 10px;
        border: none;
        color: white;
        cursor: pointer;
        background-color: rgb(39, 36, 67);
        transition: all 0.5s ease;
    }
}
.ab11>button:hover{
    background-color: rgb(218, 57, 43);;
}
.ab10{
    width: 50%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
}


// Tab edit

@media only screen and (max-width: 822px){
    .Abox2{
        height: 910px;
        flex-direction: column;
    }
    .ab1{
        height: 590px;
    }
    .ah1{
        font-size: 42px;
    }
    .ab2{
        width: 100%;
    }


    .abp1{
        width: 90%;
    }
    .sub-Abox3{
        width: 100%;
    }
    .ab3{
        width: 100%;
    }
    .ab5>h2{
        font-size: 5.3vw;
    }
    .ab6>h2{
        font-size: 5.3vw;
    }

    // previous last section
    .Abox4{
        height: auto;
        justify-content: center;
        >h1{
            text-align: center;
        }
    }
    .ab7{
       flex-wrap: wrap; 
       justify-content: center;
    }
    .foundBox1{
        width: auto;
        height: 67vw;
        >div{
            width: 37vw;
            height: 47vw;
            >img{
                width: 37vw;
                height: 47vw;
            }
        }
    }
    .abred{
        width: 37vw;
        height: 47vw;
    }
    
    

    // last section
    .Abox5{
        flex-direction: column;
    }
    .ab8{
        width: 100%;
        height: 740px;
    }
    .ab10{
        width: 100%;
    }
    .ab11>img{
        top: -31px;
    }

}

// Phone edit
@media only screen and (max-width: 436px){
    .Abox1{
        height: auto;
        padding-top: 81px;
    }
    .ah1{
        font-size: 9.8vw;
    }
    .Abox3{
        height: 1015px;
    }
    .ab4{
        flex-direction: column;
    }
    .ah1-b3 {
        margin-top: 75px;
    }


    .ab3{
        align-items: center;
    }
    .ab5{
        width: 95%;
    }
    .ab6{
        width: 95%;
    }


    // previou last section
    .Abox4{
        height: auto;
        padding-top: 0px;
    }
    .foundBox1{
        height: 90vw;
        >div{
            width: 60vw;
            height: 75vw;
            >img{
                width: 60vw;
                height: 75vw;
            }
        }
    }
    .abred{
        width: 60vw;
        height: 75vw;
    }


    .Abox5{
        align-items: center;
        gap: 30px;
    }
    .ab8{
        width: 95%;
    }
    .ab10{
        width: 95%;
    }
}

@media only screen and (max-width: 310px){
    .ab8{
        height: 590px;
    }
    .ab11{
        padding: 101px 0px 13px 5px;
        >img{
            top: 0px;
            width: 70vw;
        }
    }
}