.Cmainbox {
    width: 100%;
    height: 1720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Cbox1 {
    // border: 2px solid cadetblue;
    width: 86%;
    margin-top: 120px;
    height: 400px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(39, 36, 67);
}

.ch3 {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
}

.ch1 {
    font-size: 50px;
}

.cpara {
    max-width: 506px;
}

.Cbox2 {
    // border: 2px solid cadetblue;
    width: 86%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 57, 43);
    color: white;
}

.cimg {
    width: 16vw;
    border-radius: 20px;
}

.transImg {
    transition: all 1s ease-in-out;
}

.CRedbox {
    display: flex;
    width: 85%;
    height: 600px;
    margin-top: 30px;
    justify-content: space-between;
}

.CB {
    width: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;

    >div:nth-child(1) {
        overflow: hidden;
        width: 16vw;
        height: 16vw;
        border-radius: 20px;
    }
}

.CB:hover .transImg {
    transform: scale(1.1);
}

.crp {
    padding-left: 0;
    color: white;
}

.cbp {
    font-size: 16px;
    color: white;
}

.Cbutton {
    width: 80%;
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(39, 36, 67);
    color: white;
}

.Cbutton:hover {
    background-color: rgb(54, 50, 92);
}


.Cbox3 {
    // border: 2px solid cadetblue;
    width: 86%;
    height: 400px;
    display: flex;
    justify-content: center;
    background: url(image/13th_img.webp) no-repeat 50% 0%;

}

.CB3 {
    width: 85%;
    height: 400px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #00183c;
    opacity: 0;

    >button {
        width: 145px;
        padding: 20px 30px;
        margin-top: 20px;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: rgb(252, 255, 114);
        color: rgb(39, 36, 67);
    }
}

.CB3>button:hover {
    background-color: white;
}

@media only screen and (max-width: 822px) {
    .Cmainbox {
        height: 1883px;
    }

    .Cbox2 {
        height: auto;

        >h1 {
            margin-top: 30px;
        }
    }

    .CRedbox {
        height: auto;
        flex-wrap: wrap;
    }

    .CB {
        width: 33vw;
        height: 460px;
    }

    .CB>div:nth-child(1) {
        width: 27vw;
        height: 27vw;
    }

    .cimg {
        width: 27vw;
        height: 27vw;
    }

}

@media only screen and (max-width: 500px) {
    .Cmainbox {
        height: auto;
    }

    .Cbox1 {
        margin-top: 0px;
        height: 500px;
    }

    .Cbox2 {
        height: auto;

        >h1 {
            margin-top: 30px;
        }
    }

    .CRedbox {
        justify-content: center;
    }

    .CB {
        width: 61vw;
        height: 531px;
        align-items: center;
    }

    .CB>div:nth-child(1) {
        width: 56vw;
        height: 56vw;
    }

    .cimg {
        width: 56vw;
        height: 56vw;
    }

    .cbp {
        text-align: center;
    }

    .ch1 {
        font-size: 12vw;
    }

}